erpnextaustria/docs/xsd/ISO.camt.055.001.01.austrian.003.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2009 Apr 02 15:15:34-->
<!-- Edited by Hendrik Muus, STUZZA, AT -->
<!-- ***** Change log at end of document -->
<!-- Definition for validation according SEPA RB 5 plus additional options for use in Austria -->
<?xml-stylesheet type="text/xsl" href="myxsd.xsl"?>
<!--+++change from+++ <xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.055.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.055.001.01" elementFormDefault="qualified"> -->
<xs:schema xmlns="ISO:camt.055.001.01:APC:STUZZA:payments:003" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ISO:camt.055.001.01:APC:STUZZA:payments:003" elementFormDefault="qualified">
	<!-- ************************************************************ -->
	<!-- ***                                                      *** -->
	<!-- ***               Diese Definitionen sind als            *** -->
	<!-- ***                                                      *** -->
	<!-- ***               Technical Validation Subset            *** -->
	<!-- ***                                                      *** -->
	<!-- ***   zu verstehen. Alle damit validierbaren XML-Daten   *** -->
	<!-- ***   lassen sich ebenfalls mit dem zugrundeliegenden    *** -->
	<!-- ***   originalen Namespace der ISO validieren. Bei der   *** -->
	<!-- ***   Übermittlung der Daten ist daher der originale     *** -->
	<!-- ***   Namespace der ISO zu verwenden.                    *** -->
	<!-- ***                                                      *** -->
	<!-- ***                                                      *** -->
	<!-- ***               This definitions specify a             *** -->
	<!-- ***                                                      *** -->
	<!-- ***               Technical Validation Subset            *** -->
	<!-- ***                                                      *** -->
	<!-- ***   All XML data validating with this scheme can       *** -->
	<!-- ***   also be validated with the underlying original     *** -->
	<!-- ***   namespace of ISO. Therefor the original ISO        *** -->
	<!-- ***   namespace is to be used for data transmission.     *** -->
	<!-- ***                                                      *** -->
	<!-- ************************************************************ -->
	<!--  ********************** start replace include node with copy of type definitions of schema to get standalone schema  -->
	<xs:include schemaLocation="RB6.0_camt.055_codelists.xsd"/>
	<!--  ********************** stop replace include node with copy of type definitions of schema to get standalone schema  -->
	<xs:attribute name="version" fixed="003">
		<xs:annotation>
			<xs:documentation xml:lang="de">Version dieses Schemas</xs:documentation>
			<xs:documentation xml:lang="en">Schema version</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="lastEdit" fixed="2012-04-11">
		<xs:annotation>
			<xs:documentation xml:lang="de">Datum der letzten Veränderung</xs:documentation>
			<xs:documentation xml:lang="en">Date of last change</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="replaceVersion" fixed="003">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ersetzte Version</xs:documentation>
			<xs:documentation xml:lang="en">Replaced version</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="replaceLastEdit" fixed="2012-03-14">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ersetztes Versionsdatum</xs:documentation>
			<xs:documentation xml:lang="en">Replaced version date</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="validityStart" fixed="2012-11-01">
		<xs:annotation>
			<xs:documentation xml:lang="de">Beginn der Gültigkeit</xs:documentation>
			<xs:documentation xml:lang="en">Start of validity</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="validityEnd" fixed="with validity start of version 5">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ende der Gültigkeit</xs:documentation>
			<xs:documentation xml:lang="en">End of validity</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<!-- Root element -->
	<xs:element name="Document" type="Document"/>
	<!-- Type definitions -->
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
				<xs:element name="Othr" type="GenericAccountIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmendmentInformationDetails6">
		<xs:sequence>
			<xs:element name="OrgnlMndtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="OrgnlCdtrSchmeId" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="OrgnlCdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="OrgnlCdtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlDbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlFnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="OrgnlFrqcy" type="Frequency1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountType3Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
				<xs:element name="EqvtAmt" type="EquivalentAmount2"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
			<xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancellationReason2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="CancellationReason4Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CancellationReason4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CUST"/>
			<xs:enumeration value="DUPL"/>
			<xs:enumeration value="AGNT"/>
			<xs:enumeration value="CURR"/>
			<xs:enumeration value="UPAY"/>
			<xs:enumeration value="CUTA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CancellationReasonInformation3">
		<xs:sequence>
			<xs:element name="Orgtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Rsn" type="CancellationReason2Choice" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Case2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Cretr" type="Party7Choice"/>
			<xs:element name="ReopCaseIndctn" type="YesNoIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CaseAssignment2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="Assgnr" type="Party7Choice"/>
			<xs:element name="Assgne" type="Party7Choice"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount16">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
			<xs:element name="Tp" type="CashAccountType2" minOccurs="0"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountType2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="CashAccountType4Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CashAccountType4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CHAR"/>
			<xs:enumeration value="COMM"/>
			<xs:enumeration value="TAXE"/>
			<xs:enumeration value="CISH"/>
			<xs:enumeration value="TRAS"/>
			<xs:enumeration value="SACC"/>
			<xs:enumeration value="CACC"/>
			<xs:enumeration value="SVGS"/>
			<xs:enumeration value="ONDP"/>
			<xs:enumeration value="MGLD"/>
			<xs:enumeration value="NREX"/>
			<xs:enumeration value="MOMA"/>
			<xs:enumeration value="LOAN"/>
			<xs:enumeration value="SLRY"/>
			<xs:enumeration value="ODFT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ClearingChannel2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RTGS"/>
			<xs:enumeration value="RTNS"/>
			<xs:enumeration value="MPNS"/>
			<xs:enumeration value="BOOK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification3Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ControlData1">
		<xs:sequence>
			<xs:element name="NbOfTxs" type="Max15NumericText"/>
			<xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0"/>
			<xs:element name="Ref" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerPaymentCancellationRequestV01">
		<xs:sequence>
			<xs:element name="Assgnmt" type="CaseAssignment2"/>
			<xs:element name="Case" type="Case2" minOccurs="0"/>
			<xs:element name="CtrlData" type="ControlData1" minOccurs="0"/>
			<xs:element name="Undrlyg" type="UnderlyingTransaction1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Document">
		<xs:sequence>
			<!--+++change from+++ <xs:element name="CstmrPmtCxlReq" type="CustomerPaymentCancellationRequestV01"/> -->
			<xs:element name="CstmrPmtCxlReq" type="AT_CustomerPaymentCancellationRequestV01">
				<xs:annotation>
					<xs:documentation xml:lang="de">Diese Version definiert die Beschränkungen basierend auf den ImplementationRecommendations des EPC und die Erweiterungen für die Verwendung in Österreich</xs:documentation>
					<xs:documentation xml:lang="en">This version defines the restrictions based on ImplementationRecommendations of EPC and the extensions for use in Austria</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
			<xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="PUOR"/>
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType5Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EquivalentAmount2">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CcyOfTrf" type="ActiveOrHistoricCurrencyCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCashClearingSystem1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Frequency1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MNTH"/>
			<xs:enumeration value="QURT"/>
			<xs:enumeration value="MIAN"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAIL"/>
			<xs:enumeration value="ADHO"/>
			<xs:enumeration value="INDA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
			<xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="GroupCancellationIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="LocalInstrument2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateRelatedInformation6">
		<xs:sequence>
			<xs:element name="MndtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="DtOfSgntr" type="ISODate" minOccurs="0"/>
			<xs:element name="AmdmntInd" type="TrueFalseIndicator" minOccurs="0"/>
			<xs:element name="AmdmntInfDtls" type="AmendmentInformationDetails6" minOccurs="0"/>
			<xs:element name="ElctrncSgntr" type="Max1025Text" minOccurs="0"/>
			<xs:element name="FrstColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="FnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="Frqcy" type="Frequency1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max1025Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1025"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max105Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="105"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification4">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalGroupInformation23">
		<xs:sequence>
			<xs:element name="GrpCxlId" type="Max35Text" minOccurs="0"/>
			<xs:element name="Case" type="Case2" minOccurs="0"/>
			<xs:element name="OrgnlMsgId" type="Max35Text"/>
			<xs:element name="OrgnlMsgNmId" type="Max35Text"/>
			<xs:element name="OrgnlCreDtTm" type="ISODateTime" minOccurs="0"/>
			<xs:element name="NbOfTxs" type="Max15NumericText" minOccurs="0"/>
			<xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
			<xs:element name="GrpCxl" type="GroupCancellationIndicator" minOccurs="0"/>
			<xs:element name="CxlRsnInf" type="CancellationReasonInformation3" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalGroupInformation3">
		<xs:sequence>
			<xs:element name="OrgnlMsgId" type="Max35Text"/>
			<xs:element name="OrgnlMsgNmId" type="Max35Text"/>
			<xs:element name="OrgnlCreDtTm" type="ISODateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalPaymentInformation4">
		<xs:sequence>
			<xs:element name="PmtCxlId" type="Max35Text" minOccurs="0"/>
			<xs:element name="Case" type="Case2" minOccurs="0"/>
			<xs:element name="OrgnlPmtInfId" type="Max35Text"/>
			<xs:element name="OrgnlGrpInf" type="OriginalGroupInformation3" minOccurs="0"/>
			<xs:element name="NbOfTxs" type="Max15NumericText" minOccurs="0"/>
			<xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
			<xs:element name="PmtInfCxl" type="GroupCancellationIndicator" minOccurs="0"/>
			<xs:element name="CxlRsnInf" type="CancellationReasonInformation3" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TxInf" type="PaymentTransactionInformation30" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalTransactionReference13">
		<xs:sequence>
			<xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="Amt" type="AmountType3Choice" minOccurs="0"/>
			<xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
			<xs:element name="ReqdColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="ReqdExctnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="SttlmInf" type="SettlementInformation13" minOccurs="0"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation22" minOccurs="0"/>
			<xs:element name="PmtMtd" type="PaymentMethod4Code" minOccurs="0"/>
			<xs:element name="MndtRltdInf" type="MandateRelatedInformation6" minOccurs="0"/>
			<xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Dbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="DbtrAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="DbtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="CdtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="Cdtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="CdtrAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification4"/>
				<xs:element name="PrvtId" type="PersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party7Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Pty" type="PartyIdentification32"/>
				<xs:element name="Agt" type="BranchAndFinancialInstitutionIdentification4"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="Party6Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PaymentMethod4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHK"/>
			<xs:enumeration value="TRF"/>
			<xs:enumeration value="DD"/>
			<xs:enumeration value="TRA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentTransactionInformation30">
		<xs:sequence>
			<xs:element name="CxlId" type="Max35Text" minOccurs="0"/>
			<xs:element name="Case" type="Case2" minOccurs="0"/>
			<xs:element name="OrgnlInstrId" type="Max35Text" minOccurs="0"/>
			<xs:element name="OrgnlEndToEndId" type="Max35Text" minOccurs="0"/>
			<xs:element name="OrgnlInstdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="OrgnlReqdExctnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="OrgnlReqdColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="CxlRsnInf" type="CancellationReasonInformation3" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OrgnlTxRef" type="OriginalTransactionReference13" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTypeInformation22">
		<xs:sequence>
			<xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/>
			<xs:element name="ClrChanl" type="ClearingChannel2Code" minOccurs="0"/>
			<xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0"/>
			<xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0"/>
			<xs:element name="SeqTp" type="SequenceType1Code" minOccurs="0"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
			<xs:element name="Dept" type="Max70Text" minOccurs="0"/>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Priority2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReferredDocumentInformation3">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType5Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceAmount1">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation5">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SequenceType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FRST"/>
			<xs:enumeration value="RCUR"/>
			<xs:enumeration value="FNAL"/>
			<xs:enumeration value="OOFF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceLevel8Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalServiceLevel1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementInformation13">
		<xs:sequence>
			<xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
			<xs:element name="SttlmAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="ClrSys" type="ClearingSystemIdentification3Choice" minOccurs="0"/>
			<xs:element name="InstgRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="InstgRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="InstdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="InstdRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="ThrdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="ThrdRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SettlementMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INDA"/>
			<xs:enumeration value="INGA"/>
			<xs:enumeration value="COVE"/>
			<xs:enumeration value="CLRG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StructuredRemittanceInformation7">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RfrdDocAmt" type="RemittanceAmount1" minOccurs="0"/>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
			<xs:element name="Invcr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Invcee" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TrueFalseIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="UnderlyingTransaction1">
		<xs:sequence>
			<xs:element name="OrgnlGrpInfAndCxl" type="OriginalGroupInformation23" minOccurs="0"/>
			<xs:element name="OrgnlPmtInfAndCxl" type="OriginalPaymentInformation4" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="YesNoIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!-- own redefined datatypes -->
	<xs:complexType name="AT_AccountSchemeName1Choice">
		<xs:complexContent>
			<xs:restriction base="AccountSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalAccountIdentification1Code">
							<xs:annotation>
								<xs:documentation xml:lang="de">BBAN für nationale Kontonummer</xs:documentation>
								<xs:documentation xml:lang="en">BBAN for national account number</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_AccountIdentification4Choice">
		<xs:complexContent>
			<xs:restriction base="AccountIdentification4Choice">
				<xs:sequence>
					<xs:choice>
						<xs:annotation>
							<xs:documentation xml:lang="de">Bei PmtTpInf/SvcLvl/Cd gleich SEPA ist die IBAN verpflichtend</xs:documentation>
							<xs:documentation xml:lang="en">When PmtTpInf/SvcLvl/Cd is SEPA, IBAN is required</xs:documentation>
						</xs:annotation>
						<xs:element name="IBAN" type="IBAN2007Identifier">
							<xs:annotation>
								<xs:documentation xml:lang="de">IBAN aus Teilnehmerländern gemäß EU-Regulation 924/2009</xs:documentation>
								<xs:documentation xml:lang="en">IBAN from participating countries according EU-Regulation 924/2009</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Othr" type="AT_GenericAccountIdentification1">
							<xs:annotation>
								<xs:documentation xml:lang="de">Nur im Zusammenhang mit EDIFACT Daten. Einsatz noch zu vereinbaren</xs:documentation>
								<xs:documentation xml:lang="en">Only in conjuction with EDIFACT data. Usage to be negotiated</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_AccountIdentification4Choice_IBAN">
		<xs:complexContent>
			<xs:restriction base="AccountIdentification4Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="IBAN" type="IBAN2007Identifier">
							<xs:annotation>
								<xs:documentation xml:lang="de">IBAN aus Teilnehmerländern gemäß EU-Regulation 924/2009</xs:documentation>
								<xs:documentation xml:lang="en">IBAN from participating countries according EU-Regulation 924/2009</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_AmendmentInformationDetails6">
		<xs:complexContent>
			<xs:restriction base="AmendmentInformationDetails6">
				<xs:sequence>
					<xs:element name="OrgnlMndtId" type="AT_Max35Text_REF" id="D_AT-19" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Ursprüngliche Mandatsidentifikation. Im Falle einer Änderung der Mandatsidentifikation</xs:documentation>
							<xs:documentation xml:lang="en">Original mandate identification. In case of change of mandate identification</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlCdtrSchmeId" type="AT_PartyIdentification32_OrgnlCdtrSchemeId" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Ursprüngliche Identifikation und/oder ursprünglicher Name des Einziehers. Im Falle einer Änderung von Identifikation und/oder Name des Einziehers</xs:documentation>
							<xs:documentation xml:lang="en">Original identification and/or name of drawer. In case of change of drawer identification and/or name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlDbtrAcct" type="AT_CashAccount16_IBAN" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Ursprüngliches Konto des Bezogenen. Im Falle einer Änderung der Bezogenenkontos. Bei gleichzeitigem Wechsel des Kreditinstitutes siehe OrgnlDbtrAgt</xs:documentation>
							<xs:documentation xml:lang="en">Original account of drawee. In case of change of account of drawee. On concurrent change of financial institution see OrgnlDbtrAgt</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlDbtrAgt" type="AT_BranchAndFinancialInstitutionIdentification4_Amdmnt" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Ursprüngliches Institut des Bezogenen. Im Falle eines gleichzeitigen Wechsels des Kreditinstitutes</xs:documentation>
							<xs:documentation xml:lang="en">Original financial institution of drawee. In case of concurrent change of financial institution</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_BranchAndFinancialInstitutionIdentification4_Amdmnt">
		<xs:complexContent>
			<xs:restriction base="BranchAndFinancialInstitutionIdentification4">
				<xs:sequence>
					<xs:element name="FinInstnId" type="AT_FinancialInstitutionIdentification7_Amdmnt"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_BranchAndFinancialInstitutionIdentification4_Assgne">
		<xs:complexContent>
			<xs:restriction base="BranchAndFinancialInstitutionIdentification4">
				<xs:sequence>
					<xs:element name="FinInstnId" type="AT_FinancialInstitutionIdentification7_Assgne"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_BranchAndFinancialInstitutionIdentification4_CdtrAgt">
		<xs:complexContent>
			<xs:restriction base="BranchAndFinancialInstitutionIdentification4">
				<xs:sequence>
					<xs:element name="FinInstnId" type="AT_FinancialInstitutionIdentification7" id="C_AT-23_D_AT-12"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_BranchAndFinancialInstitutionIdentification4_DbtrAgt">
		<xs:complexContent>
			<xs:restriction base="BranchAndFinancialInstitutionIdentification4">
				<xs:sequence>
					<xs:element name="FinInstnId" type="AT_FinancialInstitutionIdentification7" id="C_AT-06_D_AT-13"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CancellationReason2Choice">
		<xs:complexContent>
			<xs:restriction base="CancellationReason2Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_CancellationReason4Code">
							<xs:annotation>
								<xs:documentation xml:lang="de">DUPL für doppelt ausgeführte Transaktionen</xs:documentation>
								<xs:documentation xml:lang="en">DUPL for duplicate transactions</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Prtry">
							<xs:annotation>
								<xs:documentation xml:lang="de">TECH für technische Ursachen fehlerhafter Transaktionen
FRAD für Transaktionen betrügerischer Herkunft</xs:documentation>
								<xs:documentation xml:lang="en">TECH for technical reasons of errenous transactions
FRAD for fraudulent source of transactions</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="AT_Max35Text_REF">
									<xs:enumeration value="TECH"/>
									<xs:enumeration value="FRAD"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AT_CancellationReason4Code">
		<xs:restriction base="CancellationReason4Code">
			<xs:enumeration value="DUPL"/>
			<xs:enumeration value="AGNT"/>
			<xs:enumeration value="CURR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AT_CancellationReasonInformation3">
		<xs:complexContent>
			<xs:restriction base="CancellationReasonInformation3">
				<xs:sequence>
					<xs:element name="Rsn" type="AT_CancellationReason2Choice" id="C_R3">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kodierter Grund für die Anfrage</xs:documentation>
							<xs:documentation xml:lang="en">Coded reason of Request</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CaseAssignment2">
		<xs:complexContent>
			<xs:restriction base="CaseAssignment2">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Technische Referenz der Übermittlungsdatei. Eindeutigkeit über mindestens 30 Tage ist herzustellen
ACHTUNG: Beschränken Sie sich für einen sicheren Ablauf auf Buchstaben, Ziffern und Bindestrich.
Eindeutigkeit erreicht man zB einfach über die Kombination des Datums mit einem Tageszähler</xs:documentation>
							<xs:documentation xml:lang="en">Technical reference of transmitted file. Ensure uniqueness for at least 30 days
ATTENTION: For save processing limit yourselves to digits, letters and minus sign.
Uniqueness is simple achievable eg with combining the date with a daily counter</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Assgnr" type="AT_Party7Choice_Assgnr">
						<xs:annotation>
							<xs:documentation xml:lang="de">Die Kontoidentifikation, auf die sich die Anfrage bezieht</xs:documentation>
							<xs:documentation xml:lang="en">The accounts identification on which the request relate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Assgne" type="AT_Party7Choice_Assgne">
						<xs:annotation>
							<xs:documentation xml:lang="de">Die Bankidentifikation, auf die sich die Anfrage bezieht</xs:documentation>
							<xs:documentation xml:lang="en">The banks identification on which the request relate</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreDtTm" type="ISODateTime"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CategoryPurpose1Choice">
		<xs:complexContent>
			<xs:restriction base="CategoryPurpose1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalCategoryPurpose1Code">
							<xs:annotation>
								<xs:documentation xml:lang="de">Siehe externe Codeliste</xs:documentation>
								<xs:documentation xml:lang="en">See external code list</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Prtry" type="AT_Max35Text">
							<xs:annotation>
								<xs:documentation xml:lang="de">Siehe externe Codeliste</xs:documentation>
								<xs:documentation xml:lang="en">See external code list</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CashAccount16_CdtrAcct">
		<xs:complexContent>
			<xs:restriction base="CashAccount16">
				<xs:sequence>
					<xs:element name="Id" type="AT_AccountIdentification4Choice" id="C_AT-20_D_AT-04"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CashAccount16_DbtrAcct">
		<xs:complexContent>
			<xs:restriction base="CashAccount16">
				<xs:sequence>
					<xs:element name="Id" type="AT_AccountIdentification4Choice" id="C_AT-01_D_AT-07"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CashAccount16_IBAN">
		<xs:complexContent>
			<xs:restriction base="CashAccount16">
				<xs:sequence>
					<xs:element name="Id" type="AT_AccountIdentification4Choice_IBAN"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CreditorReferenceInformation2">
		<xs:complexContent>
			<xs:restriction base="CreditorReferenceInformation2">
				<xs:sequence>
					<xs:element name="Tp" type="AT_CreditorReferenceType2"/>
					<xs:element name="Ref" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zahlungsreferenz</xs:documentation>
							<xs:documentation xml:lang="en">Creditor's reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CreditorReferenceType1Choice">
		<xs:complexContent>
			<xs:restriction base="CreditorReferenceType1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_DocumentType3Code">
							<xs:annotation>
								<xs:documentation xml:lang="de">SCOR StructuredCommunicationReference</xs:documentation>
								<xs:documentation xml:lang="en">SCOR StructuredCommunicationReference</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CreditorReferenceType2">
		<xs:complexContent>
			<xs:restriction base="CreditorReferenceType2">
				<xs:sequence>
					<xs:element name="CdOrPrtry" type="AT_CreditorReferenceType1Choice"/>
					<xs:element name="Issr" type="AT_Max35Text" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CustomerPaymentCancellationRequestV01">
		<xs:complexContent>
			<xs:restriction base="CustomerPaymentCancellationRequestV01">
				<xs:sequence>
					<xs:element name="Assgnmt" type="AT_CaseAssignment2">
						<xs:annotation>
							<xs:documentation xml:lang="de">Grundlegende Informationen zur übermittelten Datei</xs:documentation>
							<xs:documentation xml:lang="en">Basic information on transmitted file</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Undrlyg" type="AT_UnderlyingTransaction1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zurück zu holende Bestände und/oder Transaktionen</xs:documentation>
							<xs:documentation xml:lang="en">Batches and/or transactions to cancel</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AT_DecimalNumber">
		<xs:restriction base="DecimalNumber">
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="999999999999.99"/>
			<xs:pattern value="(([1-9]\d*)|(0))(\.\d{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_DocumentType3Code">
		<xs:restriction base="DocumentType3Code">
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AT_FinancialIdentificationSchemeName1Choice">
		<xs:complexContent>
			<xs:restriction base="FinancialIdentificationSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Prtry" type="AT_Max35Text">
							<xs:annotation>
								<xs:documentation xml:lang="de">BLZ für nationale BankLeitZahl</xs:documentation>
								<xs:documentation xml:lang="en">BLZ for national bank code (BankLeitZahl)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_FinancialInstitutionIdentification7">
		<xs:complexContent>
			<xs:restriction base="FinancialInstitutionIdentification7">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation xml:lang="de">Es ist nur eines der beiden Folgeelemente zulässig. Bei PmtTpInf/SvcLvl/Cd gleich SEPA ist die BIC verpflichtend</xs:documentation>
						<xs:documentation xml:lang="en">Only one of subsequent elements is allowed. When PmtTpInf/SvcLvl/Cd is SEPA, BIC is required</xs:documentation>
					</xs:annotation>
					<xs:element name="BIC" type="BICIdentifier" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">BIC aus Teilnehmerländern gemäß EU-Regulation 924/2009</xs:documentation>
							<xs:documentation xml:lang="en">BIC from participating countries according EU-Regulation 924/2009</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Othr" type="AT_GenericFinancialIdentification1" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Nur im Zusammenhang mit EDIFACT Daten. Einsatz noch zu vereinbaren</xs:documentation>
							<xs:documentation xml:lang="en">Only in conjuction with EDIFACT data. Usage to be negotiated</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_FinancialInstitutionIdentification7_Amdmnt">
		<xs:complexContent>
			<xs:restriction base="FinancialInstitutionIdentification7">
				<xs:sequence>
					<xs:element name="Othr" type="AT_GenericFinancialIdentification1_Amdmnt"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_FinancialInstitutionIdentification7_Assgne">
		<xs:complexContent>
			<xs:restriction base="FinancialInstitutionIdentification7">
				<xs:sequence>
					<xs:element name="BIC" type="BICIdentifier"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericAccountIdentification1">
		<xs:complexContent>
			<xs:restriction base="GenericAccountIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max34Text">
						<xs:annotation>
							<xs:documentation xml:lang="de">Österreichische Kontonummer</xs:documentation>
							<xs:documentation xml:lang="en">Austrian Bank Account Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchmeNm" type="AT_AccountSchemeName1Choice"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericFinancialIdentification1">
		<xs:complexContent>
			<xs:restriction base="GenericFinancialIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Österreichische Bankleitzahl</xs:documentation>
							<xs:documentation xml:lang="en">Austrian Bank Code (Bankleitzahl)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchmeNm" type="AT_FinancialIdentificationSchemeName1Choice"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericFinancialIdentification1_Amdmnt">
		<xs:complexContent>
			<xs:restriction base="GenericFinancialIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">SMNDA für den Fall, daß der Debtor die Bank gewechselt hat. Kann nur bei Debits mit FRST im SequenceType vorkommen</xs:documentation>
							<xs:documentation xml:lang="en">SMNDA in case deptor has changed bank. Only on debits with SequenceType is FRST</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericOrganisationIdentification1">
		<xs:complexContent>
			<xs:restriction base="GenericOrganisationIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max35Text_REF"/>
					<xs:element name="SchmeNm" type="AT_OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericOrganisationIdentification1_Assgnr">
		<xs:complexContent>
			<xs:restriction base="GenericOrganisationIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">IBAN des Kontos des Initiators des ursprüglichen Auftrags</xs:documentation>
							<xs:documentation xml:lang="en">IBAN of account of initiator of primer order</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchmeNm" type="AT_OrganisationIdentificationSchemeName1Choice_Assgnr" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericPersonIdentification1">
		<xs:complexContent>
			<xs:restriction base="GenericPersonIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max35Text">
						<xs:annotation>
							<xs:documentation xml:lang="de">Die jeweilige ID</xs:documentation>
							<xs:documentation xml:lang="en">Whatever Id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchmeNm" type="AT_PersonIdentificationSchemeName1Choice" minOccurs="0"/>
					<xs:element name="Issr" type="AT_Max35Text" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PrvtId/Issr</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericPersonIdentification1_SchemeId">
		<xs:complexContent>
			<xs:restriction base="GenericPersonIdentification1">
				<xs:sequence>
					<xs:element name="Id">
						<xs:simpleType>
							<xs:restriction base="AT_NotEmpty35">
								<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;]*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SchmeNm" type="AT_PersonIdentificationSchemeName1Choice_SchemeId"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_LocalInstrument2Choice">
		<xs:complexContent>
			<xs:restriction base="LocalInstrument2Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalLocalInstrument1Code">
							<xs:annotation>
								<xs:documentation xml:lang="de">Bei Debits Auswahl des zugrundeliegenden Schemas mittels CORE, COR1 oder B2B. Mischung in einem Bestand nicht zulässig</xs:documentation>
								<xs:documentation xml:lang="en">On debits selection of underlying scheme with CORE, COR1 or B2B. Mixing in one batch not allowed</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Prtry" type="AT_Max35Text"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_MandateRelatedInformation6">
		<xs:complexContent>
			<xs:restriction base="MandateRelatedInformation6">
				<xs:sequence>
					<xs:element name="MndtId" type="AT_Max35Text_REF" id="D_AT-01">
						<xs:annotation>
							<xs:documentation xml:lang="de">Mandatsidentification</xs:documentation>
							<xs:documentation xml:lang="en">Mandate identification</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DtOfSgntr" type="ISODate" id="D_AT-25">
						<xs:annotation>
							<xs:documentation xml:lang="de">Unterzeichnungsdatum des Mandats. Es ist nur das Format YYYY-MM-DD verfügbar</xs:documentation>
							<xs:documentation xml:lang="en">Signing date of mandate. Only format available is YYYY-MM-DD</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AmdmntInd" type="TrueFalseIndicator" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Indikator für Mandatsänderungen. Verfügbare Werte: 'true', 'false'</xs:documentation>
							<xs:documentation xml:lang="en">Indicator for mandate changes. Available values: 'true', 'false'</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AmdmntInfDtls" type="AT_AmendmentInformationDetails6" id="D_AT-24" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Änderungen zum Mandat. Bedingt, daß der Indikator eine Änderung anzeigt</xs:documentation>
							<xs:documentation xml:lang="en">Changes to mandate. Indicator must be set accordingly</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElctrncSgntr" type="Max1025Text" id="D_AT-16_AT-17_AT-60" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Elektronische Signatur oder Mandatstyp oder Prüfreferenz.
Im Falle eines Einzugs nach CORE ist dieses Element
a) nicht verwendet und indiziert damit das Vorliegen eines papierhaften Mandats (Mandatstyp 'paper') oder
b) enthält die Prüfreferenz der Debtorbank und indiziert damit das Vorliegen eines elektronischen Mandats (Mandatstyp 'e-Mandate')
Im Falle eines Einzugs nach B2B ist dieses Element
a) nicht verwendet und indiziert damit das Vorliegen eines papierhaften Mandats (Mandatstyp 'paper') oder
b) enthält vereinbarte Signaturdaten</xs:documentation>
							<xs:documentation xml:lang="en">Electronic signature or mandate type or validation reference.
In case of a debit according CORE this element is
a) not used and inherit indicates a debit based on a paper mandate (mandate type 'paper') or
b) contains the validation reference of debtor bank and inherit indicates a debit based on an electronic mandate (mandate type 'e-Mandate')
In case of a debit according B2B this element is
a) not used and inherit indicates a debit based on a paper mandate (mandate type 'paper') or
b) contains agreed signature data</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AT_Max105Text">
		<xs:restriction base="AT_NotEmpty105">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max140Text">
		<xs:restriction base="AT_NotEmpty140">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max140Text_Nm">
		<xs:restriction base="AT_NotEmpty140">
			<xs:maxLength value="70"/>
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max15NumericText">
		<xs:restriction base="Max15NumericText">
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max16Text">
		<xs:restriction base="AT_NotEmpty16">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max34Text">
		<xs:restriction base="AT_NotEmpty34">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max35Text">
		<xs:restriction base="AT_NotEmpty35">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max35Text_REF">
		<xs:restriction base="AT_NotEmpty35">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max70Text">
		<xs:restriction base="AT_NotEmpty70">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty105">
		<xs:restriction base="Max105Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty140">
		<xs:restriction base="Max140Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty16">
		<xs:restriction base="Max16Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty34">
		<xs:restriction base="Max34Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty35">
		<xs:restriction base="Max35Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty70">
		<xs:restriction base="Max70Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AT_OriginalPaymentInformation4">
		<xs:complexContent>
			<xs:restriction base="OriginalPaymentInformation4">
				<xs:sequence>
					<xs:element name="PmtCxlId" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bestandskontrollnummer. Eindeutigkeit über mindestens 1 Jahr ist herzustellen.
ACHTUNG: Kann im Kontoauszug zur Referenzierung zurückgegeben werden. Beachten Sie die ggf. vorhandenen Beschränkungen im Format des Kontoauszugs (z.B. MT-Nachrichten können nur 16 Zeichen transportieren). Eindeutigkeit ist innerhalb der Beschränkung zu realisieren.
Das Element wird fallweise zur Prüfung von Doppelanlieferungen verwendet.
Eindeutigkeit erreicht man zB einfach über die Kombination des Datums mit einem Tageszähler</xs:documentation>
							<xs:documentation xml:lang="en">Batch control number. Ensure uniqueness for at least 1 year
ATTENTION: Can be returned in account statement. Observe the possible limits of account statement format (e.g. MT messages support only 16 character). Uniqueness needs to be archived within these limits.
Element is occasionally used for proof of duplicate submission
Uniqueness is simple achievable eg with combining the date with a daily counter</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlPmtInfId" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bestandskontrollnummer des Bestandes, der die zurück zu holenden Tranaktionen enthielt</xs:documentation>
							<xs:documentation xml:lang="en">Batch control number of batch containing the transaction to cancel</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NbOfTxs" type="AT_Max15NumericText">
						<xs:annotation>
							<xs:documentation xml:lang="de">Anzahl aller Einzeltransaktionen in diesem Bestand Maximal 999.999 Transactionen</xs:documentation>
							<xs:documentation xml:lang="en">Count of all single transactions in this batch. Maximum 999.999 transactions</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CtrlSum" type="AT_DecimalNumber">
						<xs:annotation>
							<xs:documentation xml:lang="de">Summe aller Einzeltransaktionen in dieser Datei. Ein Wert zwischen 0.01 und 999999999999.99. Punkt als Dezimalzeichen. Keine negativen Werte</xs:documentation>
							<xs:documentation xml:lang="en">Sum of all single transactions in this file. A value between 0.01 and 999999999999.99. Decimal sign is the dot. No negative values</xs:documentation>
							<xs:documentation>Beispiele / Examples
-- ungültig / invalid --
.87
645.
942.80352132
00023
000343.00
-- gültig und empfohlen / valid and recommended --
0.34
74.5
456
3.04
-- möglich / possible --
10.0
10.40
10.00</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PmtInfCxl" type="GroupCancellationIndicator">
						<xs:annotation>
							<xs:documentation xml:lang="de">Indikator zur Unterscheidung von Bestands- oder Einzelrückholung. "true" für Bestands-, "false" für Einzelrückholung
Im Falle der Bestandsrückholung muß die Struktur CxlRsnInf folgen und TxInf darf nicht angegeben werden
Im Falle von Einzelrückholung muß die Struktur TxInf folgen</xs:documentation>
							<xs:documentation xml:lang="en">Indicator to destinguish between batch and single transaction cancellation. "true" for batch, "false" for single transaction cancellation
In case of batch cancellation the structure CxlRsnInf needs to be populated and TxInf is not permitted
In case of single transaction cancellation TxInf needs to be populated</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CxlRsnInf" type="AT_CancellationReasonInformation3" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Grund der Rückholung
Erforderlich im Fall das PmtInfCxl "true" ist
Wird dieser auf Bestandsebene angegeben, so gilt dieser Grund für alle enthaltenen Einzelzahlungen und kann nicht mit einem Grund auf Einzelebene übersteuert werden. Wird hingegen kein Grund auf Bestandsebene angeführt, so ist jede Einzelzahlung mit einem Rückholungsgrund zu versehen</xs:documentation>
							<xs:documentation xml:lang="en">Reason of cancellation
Mandaroty in case of PmtInfCxl is "true"
If is populated on batch level, this reason is valid for all contained single transactions and cannot be overruled by another reason on single level. If no reason is given on batch level, every single transactions needs to qoute a cancellation reason</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TxInf" type="AT_PaymentTransactionInformation30" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de">Rückzuholdende Einzeltransaktionen
Erforderlich im Fall das PmtInfCxl "false" ist, anderenfalls nicht erlaubt</xs:documentation>
							<xs:documentation xml:lang="en">Single transactions to cancel
Mandatory in case of PmtInfCxl is "false", otherwise not permitted</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_OriginalTransactionReference13">
		<xs:complexContent>
			<xs:restriction base="OriginalTransactionReference13">
				<xs:sequence>
					<xs:element name="Amt" type="AmountType3Choice"/>
					<xs:element name="ReqdColltnDt" type="ISODate" minOccurs="0"/>
					<xs:element name="ReqdExctnDt" type="ISODate" minOccurs="0"/>
					<xs:element name="CdtrSchmeId" type="AT_PartyIdentification32_CdtrSchemeId" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bei DirectDebit verpflichtend, sonst verboten</xs:documentation>
							<xs:documentation xml:lang="en">At DirectDebit mandatory, otherwise forbidden</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PmtTpInf" type="AT_PaymentTypeInformation22" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Verpflichtend, wenn im Originalauftrag erhalten</xs:documentation>
							<xs:documentation xml:lang="en">Mandatory if received in original transaction</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MndtRltdInf" type="AT_MandateRelatedInformation6" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bei DirectDebit verpflichtend, sonst verboten</xs:documentation>
							<xs:documentation xml:lang="en">At DirectDebit mandatory, otherwise forbidden</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RmtInf" type="AT_RemittanceInformation5" id="C_AT-05_D_AT-22" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Verpflichtend, wenn im Originalauftrag erhalten</xs:documentation>
							<xs:documentation xml:lang="en">Mandatory if received in original transaction</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UltmtDbtr" type="AT_PartyIdentification32_UltmtDbtr" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Referenzpartei des Geldgebers. Verpflichtend, wenn im Originalauftrag erhalten</xs:documentation>
							<xs:documentation xml:lang="en">Reference party of the debtor. Mandatory if received in original transaction</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dbtr" type="AT_PartyIdentification32_Dbtr">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontoinhaber auf Geldgeberseite</xs:documentation>
							<xs:documentation xml:lang="en">Account owner at debtor's side</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DbtrAcct" type="AT_CashAccount16_DbtrAcct">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontonummer des Geldgebers</xs:documentation>
							<xs:documentation xml:lang="en">Account number of debtor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DbtrAgt" type="AT_BranchAndFinancialInstitutionIdentification4_DbtrAgt">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bank des Geldgebers</xs:documentation>
							<xs:documentation xml:lang="en">Bank of debtor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CdtrAgt" type="AT_BranchAndFinancialInstitutionIdentification4_CdtrAgt">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bank des Geldempfängers</xs:documentation>
							<xs:documentation xml:lang="en">Bank of creditor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cdtr" type="AT_PartyIdentification32_Cdtr">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontoinhaber auf Geldempfängerseite</xs:documentation>
							<xs:documentation xml:lang="en">Account owner at creditor's side</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CdtrAcct" type="AT_CashAccount16_CdtrAcct">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontonummer des Geldempfängers</xs:documentation>
							<xs:documentation xml:lang="en">Account number of creditor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UltmtCdtr" type="AT_PartyIdentification32_UltmtCdtr" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Referenzpartei des Geldempfängers. Verpflichtend, wenn im Originalauftrag erhalten</xs:documentation>
							<xs:documentation xml:lang="en">Reference party of the creditor. Mandatory if received in original transaction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_OrganisationIdentification4">
		<xs:complexContent>
			<xs:restriction base="OrganisationIdentification4">
				<xs:sequence>
					<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
					<xs:element name="Othr" type="AT_GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_OrganisationIdentification4_Assgnr">
		<xs:complexContent>
			<xs:restriction base="OrganisationIdentification4">
				<xs:sequence>
					<xs:element name="Othr" type="AT_GenericOrganisationIdentification1_Assgnr"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_OrganisationIdentificationSchemeName1Choice">
		<xs:complexContent>
			<xs:restriction base="OrganisationIdentificationSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalOrganisationIdentification1Code">
							<xs:annotation>
								<xs:documentation>OrgId/DUNS -> DUNS
OrgId/BkPtyId -> BANK
OrgId/TaxIdNb -> TXID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Prtry" type="AT_Max35Text">
							<xs:annotation>
								<xs:documentation>OrgId/IBEI -> IBEI
OrgId/EANGLN -> EANGLN
OrgId/USCHU -> CHIPS</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_OrganisationIdentificationSchemeName1Choice_Assgnr">
		<xs:complexContent>
			<xs:restriction base="OrganisationIdentificationSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalOrganisationIdentification1Code_Assgnr">
							<xs:annotation>
								<xs:documentation xml:lang="de">BANK -> ID bei der beauftragten Bank</xs:documentation>
								<xs:documentation xml:lang="en">BANK -> ID at ordered bank</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_Party6Choice">
		<xs:complexContent>
			<xs:restriction base="Party6Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="OrgId" type="AT_OrganisationIdentification4"/>
						<xs:element name="PrvtId" type="AT_PersonIdentification5"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_Party6Choice_Assgnr">
		<xs:complexContent>
			<xs:restriction base="Party6Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="OrgId" type="AT_OrganisationIdentification4_Assgnr"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_Party6Choice_SchemeId">
		<xs:complexContent>
			<xs:restriction base="Party6Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="PrvtId" type="AT_PersonIdentification5_SchemeId"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_Party7Choice_Assgnr">
		<xs:complexContent>
			<xs:restriction base="Party7Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Pty" type="AT_PartyIdentification32_Assgnr"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_Party7Choice_Assgne">
		<xs:complexContent>
			<xs:restriction base="Party7Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Agt" type="AT_BranchAndFinancialInstitutionIdentification4_Assgne"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_Assgnr">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG! Auf 70 Zeichen begrenzt</xs:documentation>
							<xs:documentation xml:lang="en">ATTENTION! Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Id" type="AT_Party6Choice_Assgnr"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_Cdtr">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" id="C_AT-21_D_AT-03">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG! Auf 70 Zeichen begrenzt</xs:documentation>
							<xs:documentation xml:lang="en">ATTENTION! Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PstlAdr" type="AT_PostalAddress6" id="C_AT-22_D_AT-05" minOccurs="0"/>
					<xs:element name="Id" type="AT_Party6Choice" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Nur bei Gutschriften</xs:documentation>
							<xs:documentation xml:lang="en">Only at credit transfers</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_CdtrSchemeId">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Id" type="AT_Party6Choice_SchemeId" id="D_AT-02"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_Dbtr">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" id="C_AT-02_D_AT-14">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG! Auf 70 Zeichen begrenzt</xs:documentation>
							<xs:documentation xml:lang="en">ATTENTION! Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PstlAdr" type="AT_PostalAddress6" id="C_AT-03_D_AT-09" minOccurs="0"/>
					<xs:element name="Id" type="AT_Party6Choice" id="C_AT-10_D_AT-27" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_OrgnlCdtrSchemeId">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" id="D_AT-03" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG: Auf 70 Zeichen limitiert</xs:documentation>
							<xs:documentation xml:lang="de">ATTENTION: Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Id" type="AT_Party6Choice_SchemeId" id="D_AT-18" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_UltmtCdtr">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" id="C_AT-28_D_AT-38" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG! Auf 70 Zeichen begrenzt</xs:documentation>
							<xs:documentation xml:lang="en">ATTENTION! Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Id" type="AT_Party6Choice" id="C_AT-29_D_AT-39" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_UltmtDbtr">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" id="C_AT-08_D_AT-15" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG! Auf 70 Zeichen begrenzt</xs:documentation>
							<xs:documentation xml:lang="en">ATTENTION! Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Id" type="AT_Party6Choice" id="C_AT-09_D_AT-37" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PaymentTransactionInformation30">
		<xs:complexContent>
			<xs:restriction base="PaymentTransactionInformation30">
				<xs:sequence>
					<xs:element name="OrgnlInstrId" type="AT_Max35Text_REF" minOccurs="0"/>
					<xs:element name="OrgnlEndToEndId" type="AT_Max35Text_REF"/>
					<xs:element name="OrgnlReqdExctnDt" type="ISODate" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bei CreditTransfer verpflichtend, sonst verboten. Es ist nur das Format YYYY-MM-DD verfügbar</xs:documentation>
							<xs:documentation xml:lang="en">At CreditTransfer mandatory, otherwise forbidden. Only format available is YYYY-MM-DD</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlReqdColltnDt" type="ISODate" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bei DirectDebit verpflichtend, sonst verboten. Es ist nur das Format YYYY-MM-DD verfügbar</xs:documentation>
							<xs:documentation xml:lang="en">At DirectDebit mandatory, otherwise forbidden. Only format available is YYYY-MM-DD</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CxlRsnInf" type="AT_CancellationReasonInformation3" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Grund der Rückholung
Wurde dieser bereits auf Bestandsebene angegeben, so ist er hier unzulässig. Wurde dort keiner angegeben, so muß er nun folgen</xs:documentation>
							<xs:documentation xml:lang="en">Reason of cancellation
If is populated on batch level, this reason is not permitted. If no reason is given on batch level, it needs to be stated now</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlTxRef" type="AT_OriginalTransactionReference13">
						<xs:annotation>
							<xs:documentation xml:lang="de">Eine exakte Kopie aller abbildbaren Daten der ursprünglich beauftragten und nun zurückzuholenden Transaktionen</xs:documentation>
							<xs:documentation xml:lang="en">Exact copy of all quotable data of original transmitted transactions to cancel</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PaymentTypeInformation22">
		<xs:complexContent>
			<xs:restriction base="PaymentTypeInformation22">
				<xs:sequence>
					<xs:element name="SvcLvl" type="AT_ServiceLevel8Choice" id="C_AT-40_D_AT-20a"/>
					<xs:element name="LclInstrm" type="AT_LocalInstrument2Choice" id="D_AT-20b" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">SEPA Transaktionsschema. Verpflichtend bei Debits</xs:documentation>
							<xs:documentation xml:lang="en">SEPA transactions scheme. Mandatory with debits</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqTp" type="SequenceType1Code" id="D_AT-21" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">SEPA Debit Transaktionstyp. Verpflichtend bei Debits</xs:documentation>
							<xs:documentation xml:lang="en">SEPA debit transactions type. Mandatory with debits</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CtgyPurp" type="AT_CategoryPurpose1Choice" id="C_AT-45_D_AT-59" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PersonIdentification5">
		<xs:complexContent>
			<xs:restriction base="PersonIdentification5">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation xml:lang="de">Es kann nur eines der beiden Folgeelemente gewählt werden. Mapping-Angaben beziehen sich auf weitergegebene Daten aus ISO 2006-Struktur</xs:documentation>
						<xs:documentation xml:lang="en">Only one of subsequent element may be choosen. Mapping information refer to forwarded data from ISO 2006 structure</xs:documentation>
					</xs:annotation>
					<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PrvtId/DtAndPlcOfBirth</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Othr" type="AT_GenericPersonIdentification1" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PersonIdentification5_SchemeId">
		<xs:complexContent>
			<xs:restriction base="PersonIdentification5">
				<xs:sequence>
					<xs:element name="Othr" type="AT_GenericPersonIdentification1_SchemeId"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PersonIdentificationSchemeName1Choice">
		<xs:complexContent>
			<xs:restriction base="PersonIdentificationSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalPersonIdentification1Code">
							<xs:annotation>
								<xs:documentation>PrvtId/DrvrsLicNb -> DRLC
PrvtId/CstmrNb -> CUST
PrvtId/SclSctyNb -> SOSE
PrvtId/AlnRegnNb -> ARNU
PrvtId/PsptNb -> CCPT
PrvtId/TaxIdNb -> TXID
PrvtId/IdntyCardNb -> NIDN
PrvtId/MplyrIdNb -> EMPL</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Prtry" type="AT_Max35Text"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PersonIdentificationSchemeName1Choice_SchemeId">
		<xs:complexContent>
			<xs:restriction base="PersonIdentificationSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Prtry" type="AT_Max35Text_REF">
							<xs:annotation>
								<xs:documentation xml:lang="de">SEPA</xs:documentation>
								<xs:documentation xml:lang="en">SEPA</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PostalAddress6">
		<xs:complexContent>
			<xs:restriction base="PostalAddress6">
				<xs:sequence>
					<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
					<xs:element name="AdrLine" type="AT_Max70Text" maxOccurs="2"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_RemittanceInformation5">
		<xs:complexContent>
			<xs:restriction base="RemittanceInformation5">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation xml:lang="de">Es kann nur eines der beiden Folgeelemente gewählt werden</xs:documentation>
						<xs:documentation xml:lang="en">Only one of subsequent element may be choosen</xs:documentation>
					</xs:annotation>
					<xs:element name="Ustrd" type="AT_Max140Text" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Eine Zeile mit maximal 140 Zeichen. Bei Steuerzahlungen ist mit dem Bundesrechenzentrum ein spezieller Aufbau vereinbart</xs:documentation>
							<xs:documentation xml:lang="en">One line with maximum 140 characters. On tax payments observe the structure agreed with Bundesrechenzentrum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Strd" type="AT_StructuredRemittanceInformation7" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zahlungsreferenz, Empfängerreferenz

Achtung, alle Daten INKLUSIVE der Tags müssen in 140 Zeichen Platz finden</xs:documentation>
							<xs:documentation xml:lang="en">Creditor's reference, Reciver's reference

Please observe, that all data INCLUDING tags must fit into 140 character</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_ServiceLevel8Choice">
		<xs:complexContent>
			<xs:restriction base="ServiceLevel8Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalServiceLevel1Code">
							<xs:annotation>
								<xs:documentation xml:lang="de">SEPA, NURG, SDVA oder URGP</xs:documentation>
								<xs:documentation xml:lang="en">SEPA, NURG, SDVA or URGP</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_StructuredRemittanceInformation7">
		<xs:complexContent>
			<xs:restriction base="StructuredRemittanceInformation7">
				<xs:sequence>
					<xs:element name="CdtrRefInf" type="AT_CreditorReferenceInformation2"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_UnderlyingTransaction1">
		<xs:complexContent>
			<xs:restriction base="UnderlyingTransaction1">
				<xs:sequence>
					<xs:element name="OrgnlPmtInfAndCxl" type="AT_OriginalPaymentInformation4" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--***** Begin of change log -->
	<!-- 2010-12-31 -->
	<!-- - complete new setup on ISO camt.055 -->
	<!-- - add attributes version, lastEdit, replaceVersion, replaceLastEdit, validityStart and validityEnd -->
	<!-- - add change log -->
	<!-- - comment out unused elements with marker "+++unused+++" -->
	<!-- - comment out changed elements with marker "+++change from+++" -->
	<!-- - all altered structures formed as restricted complextypes for editing purposes (altova smart restriction in scheme view [workes best in version 2008]) -->
	<!-- 2011-03-11 -->
	<!-- - altered various documentations -->
	<!-- 2011-06-28 -->
	<!-- - change version -->
	<!-- - change documentation links from RB4 to RB5 -->
	<!-- - change name space -->
	<!-- - change documentation of Assgnmt/Id and PmtCxlId -->
	<!-- 2011-09-30 -->
	<!-- - change pattern of AT_Max35Text_REF to allow blanks -->
	<!-- - change documentation of Ref in AT_CreditorReferenceInformation -->
	<!-- - change documentation of Strd in AT_StructuredRemittanceInformation -->
	<!-- 2011-11-18 -->
	<!-- - change documentation of PmtCxlId -->
	<!-- 2011-12-01 -->
	<!-- - add include to file possibly containing restrictions originating from ISO external codelist definitions -->
	<!-- - replace all element types refering to external codelist by according included types -->
	<!-- 2012-03-14 -->
	<!-- - change namespace of TechnicalValidationSubset to point to Rulebook 6.0 -->
	<!-- - change name of included ExternalCodelist file -->
	<!-- - change version to 3 ( third published schema ) -->
	<!-- - change type of OrgnlMndtId and MndtId and delete local restriction -->
	<!-- - change type of OrgnlTxRef/RmtInf/Strd/CdtrRefInf/Tp/CdOrPrtry/Cd -->
	<!-- - correct restriction of CtrlSum and add pattern -->
	<!-- - add type definition AT_DocumentType3Code -->
	<!-- - change documentation of LclInstrm/Cd -->
	<!-- - change type of Assgnr/Pty/Id/OrgId/Othr/SchmeNm/Cd -->
	<!-- - change AT_PostalAddress6/AdrLine to be mandatory -->
	<!-- 2012-04-11 -->
	<!-- - add documentation at AT_OriginalTransactionReference13/PmtTpInf -->
	<!-- - change cardinality of AT_OriginalTransactionReference13/Cdtr -->
	<!-- - change cardinality of AT_OriginalTransactionReference13/CdtrAgt -->
	<!-- - change cardinality of AT_OriginalTransactionReference13/CdtrAcct -->
	<!-- - change cardinality of AT_OriginalTransactionReference13/Dbtr -->
	<!-- - change cardinality of AT_OriginalTransactionReference13/DbtrAgt -->
	<!-- - change cardinality of AT_OriginalTransactionReference13/DbtrAcct -->
	<!--***** End of change log -->
</xs:schema>
