erpnextaustria/docs/xsd/ISO.pain.007.001.02.austrian.003.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Sep 08 11:58:39-->
<!-- Edited by Hendrik Muus, STUZZA, AT -->
<!-- ***** Change log at end of document -->
<!-- Definition for validation according SEPA RB 5 plus additional options for use in Austria -->
<?xml-stylesheet type="text/xsl" href="myxsd.xsl"?>
<!--+++change from+++ <xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pain.007.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.007.001.02" elementFormDefault="qualified"> -->
<xs:schema xmlns="ISO:pain.007.001.02:APC:STUZZA:payments:003" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ISO:pain.007.001.02:APC:STUZZA:payments:003" elementFormDefault="qualified">
	<!-- ************************************************************ -->
	<!-- ***                                                      *** -->
	<!-- ***               Diese Definitionen sind als            *** -->
	<!-- ***                                                      *** -->
	<!-- ***               Technical Validation Subset            *** -->
	<!-- ***                                                      *** -->
	<!-- ***   zu verstehen. Alle damit validierbaren XML-Daten   *** -->
	<!-- ***   lassen sich ebenfalls mit dem zugrundeliegenden    *** -->
	<!-- ***   originalen Namespace der ISO validieren. Bei der   *** -->
	<!-- ***   Übermittlung der Daten ist daher der originale     *** -->
	<!-- ***   Namespace der ISO zu verwenden.                    *** -->
	<!-- ***                                                      *** -->
	<!-- ***                                                      *** -->
	<!-- ***               This definitions specify a             *** -->
	<!-- ***                                                      *** -->
	<!-- ***               Technical Validation Subset            *** -->
	<!-- ***                                                      *** -->
	<!-- ***   All XML data validating with this scheme can       *** -->
	<!-- ***   also be validated with the underlying original     *** -->
	<!-- ***   namespace of ISO. Therefor the original ISO        *** -->
	<!-- ***   namespace is to be used for data transmission.     *** -->
	<!-- ***                                                      *** -->
	<!-- ************************************************************ -->
	<!--  ********************** start replace include node with copy of type definitions of schema to get standalone schema  -->
	<xs:include schemaLocation="RB6.0_pain.007_codelists.xsd"/>
	<!--  ********************** stop replace include node with copy of type definitions of schema to get standalone schema  -->
	<xs:attribute name="version" fixed="003">
		<xs:annotation>
			<xs:documentation xml:lang="de">Version dieses Schemas</xs:documentation>
			<xs:documentation xml:lang="en">Schema version</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="lastEdit" fixed="2012-03-14">
		<xs:annotation>
			<xs:documentation xml:lang="de">Datum der letzten Veränderung</xs:documentation>
			<xs:documentation xml:lang="en">Date of last change</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="replaceVersion" fixed="002">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ersetzte Version</xs:documentation>
			<xs:documentation xml:lang="en">Replaced version</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="replaceLastEdit" fixed="2011-12-01">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ersetztes Versionsdatum</xs:documentation>
			<xs:documentation xml:lang="en">Replaced version date</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="validityStart" fixed="2012-11-01">
		<xs:annotation>
			<xs:documentation xml:lang="de">Beginn der Gültigkeit</xs:documentation>
			<xs:documentation xml:lang="en">Start of validity</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="validityEnd" fixed="with validity start of version 5">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ende der Gültigkeit</xs:documentation>
			<xs:documentation xml:lang="en">End of validity</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<!-- Root element -->
	<xs:element name="Document" type="Document"/>
	<!-- Type definitions -->
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
				<xs:element name="Othr" type="GenericAccountIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmendmentInformationDetails6">
		<xs:sequence>
			<xs:element name="OrgnlMndtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="OrgnlCdtrSchmeId" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="OrgnlCdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="OrgnlCdtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlDbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlFnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="OrgnlFrqcy" type="Frequency1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountType3Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
				<xs:element name="EqvtAmt" type="EquivalentAmount2"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Authorisation1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="Authorisation1Code"/>
				<xs:element name="Prtry" type="Max128Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Authorisation1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AUTH"/>
			<xs:enumeration value="FDET"/>
			<xs:enumeration value="FSUM"/>
			<xs:enumeration value="ILEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BatchBookingIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
			<xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount16">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
			<xs:element name="Tp" type="CashAccountType2" minOccurs="0"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountType2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="CashAccountType4Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CashAccountType4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CHAR"/>
			<xs:enumeration value="COMM"/>
			<xs:enumeration value="TAXE"/>
			<xs:enumeration value="CISH"/>
			<xs:enumeration value="TRAS"/>
			<xs:enumeration value="SACC"/>
			<xs:enumeration value="CACC"/>
			<xs:enumeration value="SVGS"/>
			<xs:enumeration value="ONDP"/>
			<xs:enumeration value="MGLD"/>
			<xs:enumeration value="NREX"/>
			<xs:enumeration value="MOMA"/>
			<xs:enumeration value="LOAN"/>
			<xs:enumeration value="SLRY"/>
			<xs:enumeration value="ODFT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChargeBearerType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEBT"/>
			<xs:enumeration value="CRED"/>
			<xs:enumeration value="SHAR"/>
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ClearingChannel2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RTGS"/>
			<xs:enumeration value="RTNS"/>
			<xs:enumeration value="MPNS"/>
			<xs:enumeration value="BOOK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification3Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0"/>
			<xs:element name="Ref" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomerPaymentReversalV02">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader40"/>
			<xs:element name="OrgnlGrpInf" type="OriginalGroupInformation22"/>
			<xs:element name="OrgnlPmtInfAndRvsl" type="OriginalPaymentInformation2" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Document">
		<xs:sequence>
			<!--+++change from+++ <xs:element name="CstmrPmtRvsl" type="CustomerPaymentReversalV02"/> -->
			<xs:element name="CstmrPmtRvsl" type="AT_CustomerPaymentReversalV02">
				<xs:annotation>
					<xs:documentation xml:lang="de">Diese Version definiert die Beschränkungen basierend auf den ImplementationRecommendations des EPC und die Erweiterungen für die Verwendung in Österreich</xs:documentation>
					<xs:documentation xml:lang="en">This version defines the restrictions based on ImplementationRecommendations of EPC and the extensions for use in Austria</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
			<xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="PUOR"/>
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentType5Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EquivalentAmount2">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CcyOfTrf" type="ActiveOrHistoricCurrencyCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCashClearingSystem1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalReversalReason1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Frequency1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MNTH"/>
			<xs:enumeration value="QURT"/>
			<xs:enumeration value="MIAN"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAIL"/>
			<xs:enumeration value="ADHO"/>
			<xs:enumeration value="INDA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
			<xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader40">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="Authstn" type="Authorisation1Choice" minOccurs="0" maxOccurs="2"/>
			<xs:element name="BtchBookg" type="BatchBookingIndicator" minOccurs="0"/>
			<xs:element name="NbOfTxs" type="Max15NumericText"/>
			<xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
			<xs:element name="GrpRvsl" type="TrueFalseIndicator" minOccurs="0"/>
			<xs:element name="InitgPty" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="LocalInstrument2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateRelatedInformation6">
		<xs:sequence>
			<xs:element name="MndtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="DtOfSgntr" type="ISODate" minOccurs="0"/>
			<xs:element name="AmdmntInd" type="TrueFalseIndicator" minOccurs="0"/>
			<xs:element name="AmdmntInfDtls" type="AmendmentInformationDetails6" minOccurs="0"/>
			<xs:element name="ElctrncSgntr" type="Max1025Text" minOccurs="0"/>
			<xs:element name="FrstColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="FnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="Frqcy" type="Frequency1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max1025Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1025"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max105Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="105"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max128Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification4">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalGroupInformation22">
		<xs:sequence>
			<xs:element name="OrgnlMsgId" type="Max35Text"/>
			<xs:element name="OrgnlMsgNmId" type="Max35Text"/>
			<xs:element name="OrgnlCreDtTm" type="ISODateTime" minOccurs="0"/>
			<xs:element name="RvslRsnInf" type="ReversalReasonInformation6" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalPaymentInformation2">
		<xs:sequence>
			<xs:element name="RvslPmtInfId" type="Max35Text" minOccurs="0"/>
			<xs:element name="OrgnlPmtInfId" type="Max35Text"/>
			<xs:element name="OrgnlNbOfTxs" type="Max15NumericText" minOccurs="0"/>
			<xs:element name="OrgnlCtrlSum" type="DecimalNumber" minOccurs="0"/>
			<xs:element name="BtchBookg" type="BatchBookingIndicator" minOccurs="0"/>
			<xs:element name="PmtInfRvsl" type="TrueFalseIndicator" minOccurs="0"/>
			<xs:element name="RvslRsnInf" type="ReversalReasonInformation6" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TxInf" type="PaymentTransactionInformation28" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalTransactionReference13">
		<xs:sequence>
			<xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="Amt" type="AmountType3Choice" minOccurs="0"/>
			<xs:element name="IntrBkSttlmDt" type="ISODate" minOccurs="0"/>
			<xs:element name="ReqdColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="ReqdExctnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="SttlmInf" type="SettlementInformation13" minOccurs="0"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation22" minOccurs="0"/>
			<xs:element name="PmtMtd" type="PaymentMethod4Code" minOccurs="0"/>
			<xs:element name="MndtRltdInf" type="MandateRelatedInformation6" minOccurs="0"/>
			<xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Dbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="DbtrAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="DbtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="CdtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="Cdtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="CdtrAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification4"/>
				<xs:element name="PrvtId" type="PersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="Party6Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PaymentMethod4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CHK"/>
			<xs:enumeration value="TRF"/>
			<xs:enumeration value="DD"/>
			<xs:enumeration value="TRA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentTransactionInformation28">
		<xs:sequence>
			<xs:element name="RvslId" type="Max35Text" minOccurs="0"/>
			<xs:element name="OrgnlInstrId" type="Max35Text" minOccurs="0"/>
			<xs:element name="OrgnlEndToEndId" type="Max35Text" minOccurs="0"/>
			<xs:element name="OrgnlInstdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="RvsdInstdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0"/>
			<xs:element name="RvslRsnInf" type="ReversalReasonInformation6" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OrgnlTxRef" type="OriginalTransactionReference13" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTypeInformation22">
		<xs:sequence>
			<xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/>
			<xs:element name="ClrChanl" type="ClearingChannel2Code" minOccurs="0"/>
			<xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0"/>
			<xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0"/>
			<xs:element name="SeqTp" type="SequenceType1Code" minOccurs="0"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
			<xs:element name="Dept" type="Max70Text" minOccurs="0"/>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Priority2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReferredDocumentInformation3">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType5Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceAmount1">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation5">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReversalReason4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalReversalReason1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReversalReasonInformation6">
		<xs:sequence>
			<xs:element name="Orgtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Rsn" type="ReversalReason4Choice" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max105Text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SequenceType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FRST"/>
			<xs:enumeration value="RCUR"/>
			<xs:enumeration value="FNAL"/>
			<xs:enumeration value="OOFF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceLevel8Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalServiceLevel1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementInformation13">
		<xs:sequence>
			<xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
			<xs:element name="SttlmAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="ClrSys" type="ClearingSystemIdentification3Choice" minOccurs="0"/>
			<xs:element name="InstgRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="InstgRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="InstdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="InstdRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="ThrdRmbrsmntAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="ThrdRmbrsmntAgtAcct" type="CashAccount16" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SettlementMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INDA"/>
			<xs:enumeration value="INGA"/>
			<xs:enumeration value="COVE"/>
			<xs:enumeration value="CLRG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StructuredRemittanceInformation7">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RfrdDocAmt" type="RemittanceAmount1" minOccurs="0"/>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
			<xs:element name="Invcr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Invcee" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TrueFalseIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!-- own redefined datatypes -->
	<xs:complexType name="AT_AccountSchemeName1Choice">
		<xs:complexContent>
			<xs:restriction base="AccountSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalAccountIdentification1Code">
							<xs:annotation>
								<xs:documentation xml:lang="de">BBAN für nationale Kontonummer</xs:documentation>
								<xs:documentation xml:lang="en">BBAN for national account number</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_AccountIdentification4Choice">
		<xs:complexContent>
			<xs:restriction base="AccountIdentification4Choice">
				<xs:sequence>
					<xs:choice>
						<xs:annotation>
							<xs:documentation xml:lang="de">Bei PmtTpInf/SvcLvl/Cd gleich SEPA ist die IBAN verpflichtend</xs:documentation>
							<xs:documentation xml:lang="en">When PmtTpInf/SvcLvl/Cd is SEPA, IBAN is required</xs:documentation>
						</xs:annotation>
						<xs:element name="IBAN" type="IBAN2007Identifier">
							<xs:annotation>
								<xs:documentation xml:lang="de">IBAN aus Teilnehmerländern gemäß EU-Regulation 924/2009</xs:documentation>
								<xs:documentation xml:lang="en">IBAN from participating countries according EU-Regulation 924/2009</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Othr" type="AT_GenericAccountIdentification1">
							<xs:annotation>
								<xs:documentation xml:lang="de">Nur im Zusammenhang mit EDIFACT Daten. Einsatz noch zu vereinbaren</xs:documentation>
								<xs:documentation xml:lang="en">Only in conjuction with EDIFACT data. Usage to be negotiated</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_AccountIdentification4Choice_IBAN">
		<xs:complexContent>
			<xs:restriction base="AccountIdentification4Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="IBAN" type="IBAN2007Identifier">
							<xs:annotation>
								<xs:documentation xml:lang="de">IBAN aus Teilnehmerländern gemäß EU-Regulation 924/2009</xs:documentation>
								<xs:documentation xml:lang="en">IBAN from participating countries according EU-Regulation 924/2009</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:restriction base="ActiveOrHistoricCurrencyAndAmount">
				<xs:attribute name="Ccy" type="AT_ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AT_ActiveOrHistoricCurrencyCode">
		<xs:restriction base="ActiveOrHistoricCurrencyCode">
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AT_AmendmentInformationDetails6">
		<xs:complexContent>
			<xs:restriction base="AmendmentInformationDetails6">
				<xs:sequence>
					<xs:element name="OrgnlMndtId" id="AT-19" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Ursprüngliche Mandatsidentifikation. Im Falle einer Änderung der Mandatsidentifikation</xs:documentation>
							<xs:documentation xml:lang="en">Original mandate identification. In case of change of mandate identification</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="AT_NotEmpty35">
								<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;]*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="OrgnlCdtrSchmeId" type="AT_PartyIdentification32_OrgnlCdtrSchemeId" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Ursprüngliche Identifikation und/oder ursprünglicher Name des Einziehers. Im Falle einer Änderung von Identifikation und/oder Name des Einziehers</xs:documentation>
							<xs:documentation xml:lang="en">Original identification and/or name of drawer. In case of change of drawer identification and/or name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlDbtrAcct" type="AT_CashAccount16_IBAN" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Ursprüngliches Konto des Bezogenen. Im Falle einer Änderung der Bezogenenkontos. Bei gleichzeitigem Wechsel des Kreditinstitutes siehe OrgnlDbtrAgt</xs:documentation>
							<xs:documentation xml:lang="en">Original account of drawee. In case of change of account of drawee. On concurrent change of financial institution see OrgnlDbtrAgt</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlDbtrAgt" type="AT_BranchAndFinancialInstitutionIdentification4_Amdmnt" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Ursprüngliches Institut des Bezogenen. Im Falle eines gleichzeitigen Wechsels des Kreditinstitutes</xs:documentation>
							<xs:documentation xml:lang="en">Original financial institution of drawee. In case of concurrent change of financial institution</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_AmountType3Choice">
		<xs:complexContent>
			<xs:restriction base="AmountType3Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="InstdAmt" type="AT_ActiveOrHistoricCurrencyAndAmount" id="AT-06"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_BranchAndFinancialInstitutionIdentification4_Amdmnt">
		<xs:complexContent>
			<xs:restriction base="BranchAndFinancialInstitutionIdentification4">
				<xs:sequence>
					<xs:element name="FinInstnId" type="AT_FinancialInstitutionIdentification7_Amdmnt"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_BranchAndFinancialInstitutionIdentification4_CdtrAgt">
		<xs:complexContent>
			<xs:restriction base="BranchAndFinancialInstitutionIdentification4">
				<xs:sequence>
					<xs:element name="FinInstnId" type="AT_FinancialInstitutionIdentification7" id="AT-12"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_BranchAndFinancialInstitutionIdentification4_DbtrAgt">
		<xs:complexContent>
			<xs:restriction base="BranchAndFinancialInstitutionIdentification4">
				<xs:sequence>
					<xs:element name="FinInstnId" type="AT_FinancialInstitutionIdentification7" id="AT-13"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CashAccount16_CdtrAcct">
		<xs:complexContent>
			<xs:restriction base="CashAccount16">
				<xs:sequence>
					<xs:element name="Id" type="AT_AccountIdentification4Choice_IBAN" id="AT-04"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CashAccount16_DbtrAcct">
		<xs:complexContent>
			<xs:restriction base="CashAccount16">
				<xs:sequence>
					<xs:element name="Id" type="AT_AccountIdentification4Choice_IBAN" id="AT-07"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CashAccount16_IBAN">
		<xs:complexContent>
			<xs:restriction base="CashAccount16">
				<xs:sequence>
					<xs:element name="Id" type="AT_AccountIdentification4Choice_IBAN"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CategoryPurpose1Choice">
		<xs:complexContent>
			<xs:restriction base="CategoryPurpose1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalCategoryPurpose1Code">
							<xs:annotation>
								<xs:documentation xml:lang="de">Siehe externe Codeliste</xs:documentation>
								<xs:documentation xml:lang="en">See external code list</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Prtry" type="AT_Max35Text">
							<xs:annotation>
								<xs:documentation xml:lang="de">Siehe externe Codeliste</xs:documentation>
								<xs:documentation xml:lang="en">See external code list</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CreditorReferenceInformation2">
		<xs:complexContent>
			<xs:restriction base="CreditorReferenceInformation2">
				<xs:sequence>
					<xs:element name="Tp" type="AT_CreditorReferenceType2"/>
					<xs:element name="Ref" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zahlungsreferenz</xs:documentation>
							<xs:documentation xml:lang="en">Creditor's reference</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CreditorReferenceType1Choice">
		<xs:complexContent>
			<xs:restriction base="CreditorReferenceType1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_DocumentType3Code">
							<xs:annotation>
								<xs:documentation xml:lang="de">SCOR StructuredCommunicationReference</xs:documentation>
								<xs:documentation xml:lang="en">SCOR StructuredCommunicationReference</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CreditorReferenceType2">
		<xs:complexContent>
			<xs:restriction base="CreditorReferenceType2">
				<xs:sequence>
					<xs:element name="CdOrPrtry" type="AT_CreditorReferenceType1Choice"/>
					<xs:element name="Issr" type="AT_Max35Text" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_CustomerPaymentReversalV02">
		<xs:complexContent>
			<xs:restriction base="CustomerPaymentReversalV02">
				<xs:sequence>
					<xs:element name="GrpHdr" type="AT_GroupHeader40">
						<xs:annotation>
							<xs:documentation xml:lang="de">Grundlegende Informationen zur übermittelten Datei</xs:documentation>
							<xs:documentation xml:lang="en">Basic information on transmitted file</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlGrpInf" type="AT_OriginalGroupInformation22"/>
					<xs:element name="OrgnlPmtInfAndRvsl" type="AT_OriginalPaymentInformation2" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de">Daten zum Bestand und ggf. zu Einzeltransaktionen, die zurück überwiesen werden sollen</xs:documentation>
							<xs:documentation xml:lang="en">Data of batch and necessary single transactions which shall be reversed</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AT_DecimalNumber">
		<xs:restriction base="DecimalNumber">
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="999999999999.99"/>
			<xs:pattern value="(([1-9]\d*)|(0))(\.\d{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_DocumentType3Code">
		<xs:restriction base="DocumentType3Code">
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AT_FinancialIdentificationSchemeName1Choice">
		<xs:complexContent>
			<xs:restriction base="FinancialIdentificationSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Prtry" type="AT_Max35Text">
							<xs:annotation>
								<xs:documentation xml:lang="de">BLZ für nationale BankLeitZahl</xs:documentation>
								<xs:documentation xml:lang="en">BLZ for national bank code (BankLeitZahl)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_FinancialInstitutionIdentification7">
		<xs:complexContent>
			<xs:restriction base="FinancialInstitutionIdentification7">
				<xs:sequence>
					<xs:element name="BIC" type="BICIdentifier">
						<xs:annotation>
							<xs:documentation xml:lang="de">BIC aus Teilnehmerländern gemäß EU-Regulation 924/2009</xs:documentation>
							<xs:documentation xml:lang="en">BIC from participating countries according EU-Regulation 924/2009</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_FinancialInstitutionIdentification7_Amdmnt">
		<xs:complexContent>
			<xs:restriction base="FinancialInstitutionIdentification7">
				<xs:sequence>
					<xs:element name="Othr" type="AT_GenericFinancialIdentification1_Amdmnt"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericAccountIdentification1">
		<xs:complexContent>
			<xs:restriction base="GenericAccountIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max34Text">
						<xs:annotation>
							<xs:documentation xml:lang="de">Österreichische Kontonummer</xs:documentation>
							<xs:documentation xml:lang="en">Austrian Bank Account Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchmeNm" type="AT_AccountSchemeName1Choice"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericFinancialIdentification1">
		<xs:complexContent>
			<xs:restriction base="GenericFinancialIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Österreichische Bankleitzahl</xs:documentation>
							<xs:documentation xml:lang="en">Austrian Bank Code (Bankleitzahl)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchmeNm" type="AT_FinancialIdentificationSchemeName1Choice"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericFinancialIdentification1_Amdmnt">
		<xs:complexContent>
			<xs:restriction base="GenericFinancialIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">SMNDA für den Fall, daß der Debtor die Bank gewechselt hat. Kann nur bei Debits mit FRST im SequenceType vorkommen</xs:documentation>
							<xs:documentation xml:lang="en">SMNDA in case deptor has changed bank. Only on debits with SequenceType is FRST</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericOrganisationIdentification1">
		<xs:complexContent>
			<xs:restriction base="GenericOrganisationIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max35Text_REF"/>
					<xs:element name="SchmeNm" type="AT_OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericOrganisationIdentification1_InitgPty">
		<xs:complexContent>
			<xs:restriction base="GenericOrganisationIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max35Text_REF"/>
					<xs:element name="SchmeNm" type="AT_OrganisationIdentificationSchemeName1Choice_InitgPty" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericPersonIdentification1">
		<xs:complexContent>
			<xs:restriction base="GenericPersonIdentification1">
				<xs:sequence>
					<xs:element name="Id" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Die jeweilige ID</xs:documentation>
							<xs:documentation xml:lang="en">Whatever Id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SchmeNm" type="AT_PersonIdentificationSchemeName1Choice" minOccurs="0"/>
					<xs:element name="Issr" type="AT_Max35Text" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PrvtId/Issr</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GenericPersonIdentification1_SchemeId">
		<xs:complexContent>
			<xs:restriction base="GenericPersonIdentification1">
				<xs:sequence>
					<xs:element name="Id">
						<xs:simpleType>
							<xs:restriction base="AT_NotEmpty35">
								<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;]*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SchmeNm" type="AT_PersonIdentificationSchemeName1Choice_SchemeId"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_GroupHeader40">
		<xs:complexContent>
			<xs:restriction base="GroupHeader40">
				<xs:sequence>
					<xs:element name="MsgId" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Technische Referenz der Übermittlungsdatei. Eindeutigkeit über mindestens 30 Tage ist herzustellen
ACHTUNG: Beschränken Sie sich für einen sicheren Ablauf auf Buchstaben, Ziffern und Bindestrich.
Eindeutigkeit erreicht man zB einfach über die Kombination des Datums mit einem Tageszähler

EDIFACT -> UNB InterchangeRef</xs:documentation>
							<xs:documentation xml:lang="en">Technical reference of transmitted file. Ensure uniqueness for at least 30 days
ATTENTION: For save processing limit yourselves to digits, letters and minus sign.
Uniqueness is simple achievable eg with combining the date with a daily counter

EDIFACT -> UNB InterchangeRef</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CreDtTm" type="ISODateTime">
						<xs:annotation>
							<xs:documentation xml:lang="de">Erstellungszeitpunkt

Es ist nur das Format YYYY-MM-DDThh:mm:ss verfügbar. Zeitpunkt in CET(CEST)-Zeit

EDIFACT -> UNB Date+Time</xs:documentation>
							<xs:documentation xml:lang="en">Creation date time of file

Only format available is YYYY-MM-DDThh:mm:ss. It is the CET(CEST) timestamp

EDIFACT -> UNB Date+Time</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NbOfTxs" type="AT_Max15NumericText">
						<xs:annotation>
							<xs:documentation xml:lang="de">Maximal 999.999 Transactionen</xs:documentation>
							<xs:documentation xml:lang="en">Maximum 999.999 transactions</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CtrlSum" type="AT_DecimalNumber">
						<xs:annotation>
							<xs:documentation xml:lang="de">Summe aller Einzeltransaktionen</xs:documentation>
							<xs:documentation xml:lang="en">Sum of all contained single transactions</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GrpRvsl" type="TrueFalseIndicator" fixed="false"/>
					<xs:element name="InitgPty" type="AT_PartyIdentification32_InitgPty">
						<xs:annotation>
							<xs:documentation xml:lang="de">Identifizierung des Kommunikationsberechtigten.
Stimmen Sie Ihre Id mit dem empfangenden Finanzinstitut ab. Üblicherweise die Hauptkontonummer

Entweder Name oder Id, aber nicht beides</xs:documentation>
							<xs:documentation xml:lang="en">Identification of communication entitled party.
Agree your Id with receiving financial institution.
 Habitualy the main account number

Either name or Id, but not both</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_LocalInstrument2Choice">
		<xs:complexContent>
			<xs:restriction base="LocalInstrument2Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalLocalInstrument1Code">
							<xs:annotation>
								<xs:documentation xml:lang="de">Auswahl des zugrundeliegenden Schemas mittels CORE oder B2B. Mischung in einem Bestand nicht zulässig</xs:documentation>
								<xs:documentation xml:lang="en">Selection of underlying scheme with CORE or B2B. Mixing in one batch not allowed</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_MandateRelatedInformation6">
		<xs:complexContent>
			<xs:restriction base="MandateRelatedInformation6">
				<xs:sequence>
					<xs:element name="MndtId" id="AT-01">
						<xs:annotation>
							<xs:documentation xml:lang="de">Mandatsidentification</xs:documentation>
							<xs:documentation xml:lang="en">Mandate identification</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="AT_NotEmpty35">
								<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;]*"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="DtOfSgntr" type="ISODate" id="AT-25">
						<xs:annotation>
							<xs:documentation xml:lang="de">Unterzeichnungsdatum des Mandats. Es ist nur das Format YYYY-MM-DD verfügbar</xs:documentation>
							<xs:documentation xml:lang="en">Signing date of mandate. Only format available is YYYY-MM-DD</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AmdmntInd" type="TrueFalseIndicator" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Indikator für Mandatsänderungen. Verfügbare Werte: 'true', 'false'</xs:documentation>
							<xs:documentation xml:lang="en">Indicator for mandate changes. Available values: 'true', 'false'</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AmdmntInfDtls" type="AT_AmendmentInformationDetails6" id="AT-24" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Änderungen zum Mandat. Bedingt, daß der Indikator eine Änderung anzeigt</xs:documentation>
							<xs:documentation xml:lang="en">Changes to mandate. Indicator must be set accordingly</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElctrncSgntr" type="Max1025Text" id="AT-16_AT-17_AT-60" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Elektronische Signatur oder Mandatstyp oder Prüfreferenz.
Im Falle eines Einzugs nach CORE ist dieses Element
a) nicht verwendet und indiziert damit das Vorliegen eines papierhaften Mandats (Mandatstyp 'paper') oder
b) enthält die Prüfreferenz der Debtorbank und indiziert damit das Vorliegen eines elektronischen Mandats (Mandatstyp 'e-Mandate')
Im Falle eines Einzugs nach B2B ist dieses Element
a) nicht verwendet und indiziert damit das Vorliegen eines papierhaften Mandats (Mandatstyp 'paper') oder
b) enthält vereinbarte Signaturdaten</xs:documentation>
							<xs:documentation xml:lang="en">Electronic signature or mandate type or validation reference.
In case of a debit according CORE this element is
a) not used and inherit indicates a debit based on a paper mandate (mandate type 'paper') or
b) contains the validation reference of debtor bank and inherit indicates a debit based on an electronic mandate (mandate type 'e-Mandate')
In case of a debit according B2B this element is
a) not used and inherit indicates a debit based on a paper mandate (mandate type 'paper') or
b) contains agreed signature data</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="AT_Max105Text">
		<xs:restriction base="AT_NotEmpty105">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max140Text">
		<xs:restriction base="AT_NotEmpty140">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max140Text_Nm">
		<xs:restriction base="AT_NotEmpty140">
			<xs:maxLength value="70"/>
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max15NumericText">
		<xs:restriction base="Max15NumericText">
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max16Text">
		<xs:restriction base="AT_NotEmpty16">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max34Text">
		<xs:restriction base="AT_NotEmpty34">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max35Text">
		<xs:restriction base="AT_NotEmpty35">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max35Text_REF">
		<xs:restriction base="AT_NotEmpty35">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_Max70Text">
		<xs:restriction base="AT_NotEmpty70">
			<xs:pattern value="[\-A-Za-z0-9\+/\?:\(\)\.,'&#x20;äöüßÄÖÜ&amp;&gt;&lt;&quot;\|€$§%!=#~;\*\{\}\[\]@\\_°\^]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty105">
		<xs:restriction base="Max105Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty140">
		<xs:restriction base="Max140Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty16">
		<xs:restriction base="Max16Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty34">
		<xs:restriction base="Max34Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty35">
		<xs:restriction base="Max35Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_NotEmpty70">
		<xs:restriction base="Max70Text">
			<xs:pattern value=".*\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AT_OriginalGroupInformation22">
		<xs:complexContent>
			<xs:restriction base="OriginalGroupInformation22">
				<xs:sequence>
					<xs:element name="OrgnlMsgId" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Die MsgId der ursprüglichen Nachricht, aus der die Bestände und/oder Transaktionen stammen oder der Wert UNKNOWN</xs:documentation>
							<xs:documentation xml:lang="en">The MsgId of primordial message from which the batches and/or transactions originate or the value UNKNOWN</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlMsgNmId" type="AT_Max35Text" fixed="pain.008">
						<xs:annotation>
							<xs:documentation xml:lang="de">Typ der ursprünglichen Nachricht, in diesem Fall immer
pain.008</xs:documentation>
							<xs:documentation xml:lang="en">Type of original message, in this case always
pain.008</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_OriginalPaymentInformation2">
		<xs:complexContent>
			<xs:restriction base="OriginalPaymentInformation2">
				<xs:sequence>
					<xs:element name="RvslPmtInfId" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bestandskontrollnummer. Eindeutigkeit über mindestens 1 Jahr ist herzustellen.
ACHTUNG: Kann im Kontoauszug zur Referenzierung zurückgegeben werden. Beachten Sie die ggf. vorhandenen Beschränkungen im Format des Kontoauszugs (z.B. MT-Nachrichten können nur 16 Zeichen transportieren). Eindeutigkeit ist innerhalb der Beschränkung zu realisieren.
Das Element wird fallweise zur Prüfung von Doppelanlieferungen verwendet.
Eindeutigkeit erreicht man zB einfach über die Kombination des Datums mit einem Tageszähler</xs:documentation>
							<xs:documentation xml:lang="en">Batch control number. Ensure uniqueness for at least 1 year
ATTENTION: Can be returned in account statement. Observe the possible limits of account statement format (e.g. MT messages support only 16 character). Uniqueness needs to be archived within these limits.
Element is occasionally used for proof of duplicate submission
Uniqueness is simple achievable eg with combining the date with a daily counter</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlPmtInfId" type="AT_Max35Text_REF">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bestandskontrollnummer des Bestandes, aus dem die nachfolgend rücküberwiesenen Transaktionen stammen</xs:documentation>
							<xs:documentation xml:lang="en">Batch control number of batch which contained the subsequent reversed transactions</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlNbOfTxs" type="AT_Max15NumericText">
						<xs:annotation>
							<xs:documentation xml:lang="de">Maximal 999.999 Transactionen</xs:documentation>
							<xs:documentation xml:lang="en">Maximum 999.999 transactions</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrgnlCtrlSum" type="AT_DecimalNumber">
						<xs:annotation>
							<xs:documentation xml:lang="de">Summe der Einzeltransaktionen des Ursprungsbestandes</xs:documentation>
							<xs:documentation xml:lang="en">Sum of single transactions of originating batch</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PmtInfRvsl" type="TrueFalseIndicator">
						<xs:annotation>
							<xs:documentation xml:lang="de">true => gesamter Bestand wird rücküberwiesen. Weder RvslRsnInf noch TxInf folgen
false => einzelne Transaktionen des Bestands werden rücküberwiesen. RvslRsnInf und TxInf müssen folgen</xs:documentation>
							<xs:documentation xml:lang="en">true => total batch is reversed. Neither RvslRsnInf nor TxInf follow
false => single transactions of batch are reversed. RvslRsnInf and TxInf needs to follow</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RvslRsnInf" type="AT_ReversalReasonInformation6" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Nur wenn PmtInfRvsl true ist, dann jedoch verpflichtend</xs:documentation>
							<xs:documentation xml:lang="en">Mandatory, if PmtInfRvsl is true, otherwise not to be used</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TxInf" type="AT_PaymentTransactionInformation28" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation xml:lang="de">Nur wenn PmtInfRvsl false ist, dann jedoch verpflichtend</xs:documentation>
							<xs:documentation xml:lang="en">Mandatory, if PmtInfRvsl is false, otherwise not to be used</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_OriginalTransactionReference13">
		<xs:complexContent>
			<xs:restriction base="OriginalTransactionReference13">
				<xs:sequence>
					<xs:element name="Amt" type="AT_AmountType3Choice"/>
					<xs:element name="ReqdColltnDt" type="ISODate"/>
					<xs:element name="CdtrSchmeId" type="AT_PartyIdentification32_CdtrSchemeId"/>
					<xs:element name="PmtTpInf" type="AT_PaymentTypeInformation22"/>
					<xs:element name="MndtRltdInf" type="AT_MandateRelatedInformation6"/>
					<xs:element name="RmtInf" type="AT_RemittanceInformation5" id="AT-22" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Verpflichtend, wenn im Originalauftrag erhalten</xs:documentation>
							<xs:documentation xml:lang="en">Mandatory if received in original transaction</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UltmtDbtr" type="AT_PartyIdentification32_UltmtDbtr" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Referenzpartei des Geldgebers. Verpflichtend, wenn im Originalauftrag erhalten</xs:documentation>
							<xs:documentation xml:lang="en">Reference party of the debtor. Mandatory if received in original transaction</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Dbtr" type="AT_PartyIdentification32_Dbtr">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontoinhaber auf Geldgeberseite</xs:documentation>
							<xs:documentation xml:lang="en">Account owner at debtor's side</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DbtrAcct" type="AT_CashAccount16_DbtrAcct">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontonummer des Geldgebers</xs:documentation>
							<xs:documentation xml:lang="en">Account number of debtor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DbtrAgt" type="AT_BranchAndFinancialInstitutionIdentification4_DbtrAgt">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bank des Geldgebers</xs:documentation>
							<xs:documentation xml:lang="en">Bank of debtor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CdtrAgt" type="AT_BranchAndFinancialInstitutionIdentification4_CdtrAgt">
						<xs:annotation>
							<xs:documentation xml:lang="de">Bank des Geldempfängers</xs:documentation>
							<xs:documentation xml:lang="en">Bank of creditor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Cdtr" type="AT_PartyIdentification32_Cdtr">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontoinhaber auf Geldempfängerseite</xs:documentation>
							<xs:documentation xml:lang="en">Account owner at creditor's side</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CdtrAcct" type="AT_CashAccount16_CdtrAcct">
						<xs:annotation>
							<xs:documentation xml:lang="de">Kontonummer des Geldempfängers</xs:documentation>
							<xs:documentation xml:lang="en">Account number of creditor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UltmtCdtr" type="AT_PartyIdentification32_UltmtCdtr" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Referenzpartei des Geldempfängers. Verpflichtend, wenn im Originalauftrag erhalten</xs:documentation>
							<xs:documentation xml:lang="en">Reference party of the creditor. Mandatory if received in original transaction</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_OrganisationIdentification4">
		<xs:complexContent>
			<xs:restriction base="OrganisationIdentification4">
				<xs:sequence>
					<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
					<xs:element name="Othr" type="AT_GenericOrganisationIdentification1" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_OrganisationIdentification4_InitgPty">
		<xs:complexContent>
			<xs:restriction base="OrganisationIdentification4">
				<xs:sequence>
					<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
					<xs:element name="Othr" type="AT_GenericOrganisationIdentification1_InitgPty" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_OrganisationIdentificationSchemeName1Choice">
		<xs:complexContent>
			<xs:restriction base="OrganisationIdentificationSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalOrganisationIdentification1Code">
							<xs:annotation>
								<xs:documentation>OrgId/DUNS -> DUNS
OrgId/BkPtyId -> BANK
OrgId/TaxIdNb -> TXID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Prtry" type="AT_Max35Text_REF">
							<xs:annotation>
								<xs:documentation>OrgId/IBEI -> IBEI
OrgId/EANGLN -> EANGLN
OrgId/USCHU -> CHIPS</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_OrganisationIdentificationSchemeName1Choice_InitgPty">
		<xs:complexContent>
			<xs:restriction base="OrganisationIdentificationSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalOrganisationIdentification1Code_InitgPty">
							<xs:annotation>
								<xs:documentation xml:lang="de">BANK -> ID bei der beauftragten Bank</xs:documentation>
								<xs:documentation xml:lang="en">BANK -> ID at ordered bank</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PersonIdentificationSchemeName1Choice_SchemeId">
		<xs:complexContent>
			<xs:restriction base="PersonIdentificationSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Prtry" type="AT_Max35Text_REF">
							<xs:annotation>
								<xs:documentation xml:lang="de">SEPA</xs:documentation>
								<xs:documentation xml:lang="en">SEPA</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_Party6Choice">
		<xs:complexContent>
			<xs:restriction base="Party6Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="OrgId" type="AT_OrganisationIdentification4"/>
						<xs:element name="PrvtId" type="AT_PersonIdentification5"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_Party6Choice_InitgPty">
		<xs:complexContent>
			<xs:restriction base="Party6Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="OrgId" type="AT_OrganisationIdentification4_InitgPty"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_Party6Choice_SchemeId">
		<xs:complexContent>
			<xs:restriction base="Party6Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="PrvtId" type="AT_PersonIdentification5_SchemeId"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_Cdtr">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" id="AT-03a">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG! Auf 70 Zeichen begrenzt</xs:documentation>
							<xs:documentation xml:lang="en">ATTENTION! Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PstlAdr" type="AT_PostalAddress6" id="AT-05" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_CdtrSchemeId">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Id" type="AT_Party6Choice_SchemeId" id="AT-02"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_Dbtr">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" id="AT-14">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG! Auf 70 Zeichen begrenzt</xs:documentation>
							<xs:documentation xml:lang="en">ATTENTION! Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PstlAdr" type="AT_PostalAddress6" id="AT-09" minOccurs="0"/>
					<xs:element name="Id" type="AT_Party6Choice" id="AT-27" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_InitgPty">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG! Auf 70 Zeichen begrenzt</xs:documentation>
							<xs:documentation xml:lang="en">ATTENTION! Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Id" type="AT_Party6Choice_InitgPty" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_OrgnlCdtrSchemeId">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" id="AT-03" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG: Auf 70 Zeichen limitiert</xs:documentation>
							<xs:documentation xml:lang="de">ATTENTION: Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Id" type="AT_Party6Choice_SchemeId" id="AT-18" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_RvslRsnInf">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" id="AT-R2">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG! Auf 70 Zeichen begrenzt</xs:documentation>
							<xs:documentation xml:lang="en">ATTENTION! Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_UltmtCdtr">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" id="AT-38" minOccurs="0"/>
					<xs:element name="Id" type="AT_Party6Choice" id="AT-39" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PartyIdentification32_UltmtDbtr">
		<xs:complexContent>
			<xs:restriction base="PartyIdentification32">
				<xs:sequence>
					<xs:element name="Nm" type="AT_Max140Text_Nm" id="AT-15" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">ACHTUNG! Auf 70 Zeichen begrenzt</xs:documentation>
							<xs:documentation xml:lang="en">ATTENTION! Limited to 70 characters</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Id" type="AT_Party6Choice" id="AT-37" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PaymentTransactionInformation28">
		<xs:complexContent>
			<xs:restriction base="PaymentTransactionInformation28">
				<xs:sequence>
					<xs:element name="OrgnlInstrId" type="AT_Max35Text_REF" minOccurs="0"/>
					<xs:element name="OrgnlEndToEndId" type="AT_Max35Text_REF" id="AT-10"/>
					<xs:element name="RvslRsnInf" type="AT_ReversalReasonInformation6" maxOccurs="unbounded"/>
					<xs:element name="OrgnlTxRef" type="AT_OriginalTransactionReference13"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PaymentTypeInformation22">
		<xs:complexContent>
			<xs:restriction base="PaymentTypeInformation22">
				<xs:sequence>
					<xs:element name="SvcLvl" type="AT_ServiceLevel8Choice" id="AT-20a"/>
					<xs:element name="LclInstrm" type="AT_LocalInstrument2Choice" id="AT-20b">
						<xs:annotation>
							<xs:documentation xml:lang="de">SEPA Transaktionsschema</xs:documentation>
							<xs:documentation xml:lang="en">SEPA transactions scheme</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeqTp" type="SequenceType1Code" id="AT-21">
						<xs:annotation>
							<xs:documentation xml:lang="de">SEPA Debit Transaktionstyp</xs:documentation>
							<xs:documentation xml:lang="en">SEPA debit transactions type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CtgyPurp" type="AT_CategoryPurpose1Choice" id="AT-59" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PersonIdentification5">
		<xs:complexContent>
			<xs:restriction base="PersonIdentification5">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation xml:lang="de">Es kann nur eines der beiden Folgeelemente gewählt werden. Mapping-Angaben beziehen sich auf weitergegebene Daten aus ISO 2006-Struktur</xs:documentation>
						<xs:documentation xml:lang="en">Only one of subsequent element may be choosen. Mapping information refer to forwarded data from ISO 2006 structure</xs:documentation>
					</xs:annotation>
					<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PrvtId/DtAndPlcOfBirth</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Othr" type="AT_GenericPersonIdentification1" minOccurs="0"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PersonIdentification5_SchemeId">
		<xs:complexContent>
			<xs:restriction base="PersonIdentification5">
				<xs:sequence>
					<xs:element name="Othr" type="AT_GenericPersonIdentification1_SchemeId"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PersonIdentificationSchemeName1Choice">
		<xs:complexContent>
			<xs:restriction base="PersonIdentificationSchemeName1Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalPersonIdentification1Code">
							<xs:annotation>
								<xs:documentation>PrvtId/DrvrsLicNb -> DRLC
PrvtId/CstmrNb -> CUST
PrvtId/SclSctyNb -> SOSE
PrvtId/AlnRegnNb -> ARNU
PrvtId/PsptNb -> CCPT
PrvtId/TaxIdNb -> TXID
PrvtId/IdntyCardNb -> NIDN
PrvtId/MplyrIdNb -> EMPL</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Prtry" type="AT_Max35Text_REF"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_PostalAddress6">
		<xs:complexContent>
			<xs:restriction base="PostalAddress6">
				<xs:sequence>
					<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
					<xs:element name="AdrLine" type="AT_Max70Text" maxOccurs="2"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_RemittanceInformation5">
		<xs:complexContent>
			<xs:restriction base="RemittanceInformation5">
				<xs:sequence>
					<xs:annotation>
						<xs:documentation xml:lang="de">Es kann nur eines der beiden Folgeelemente gewählt werden</xs:documentation>
						<xs:documentation xml:lang="en">Only one of subsequent element may be choosen</xs:documentation>
					</xs:annotation>
					<xs:element name="Ustrd" type="AT_Max140Text" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Eine Zeile mit maximal 140 Zeichen. Bei Steuerzahlungen ist mit dem Bundesrechenzentrum ein spezieller Aufbau vereinbart</xs:documentation>
							<xs:documentation xml:lang="en">One line with maximum 140 characters. On tax payments observe the structure agreed with Bundesrechenzentrum</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Strd" type="AT_StructuredRemittanceInformation7" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="de">Zahlungsreferenz, Empfängerreferenz

Achtung, alle Daten INKLUSIVE der Tags müssen in 140 Zeichen Platz finden</xs:documentation>
							<xs:documentation xml:lang="en">Creditor's reference, Reciver's reference

Please observe, that all data INCLUDING tags must fit into 140 character</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_ReversalReason4Choice">
		<xs:complexContent>
			<xs:restriction base="ReversalReason4Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalReversalReason1Code"/>
						<xs:element name="Prtry" type="AT_Max35Text"/>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_ReversalReasonInformation6">
		<xs:complexContent>
			<xs:restriction base="ReversalReasonInformation6">
				<xs:sequence>
					<xs:element name="Orgtr" type="AT_PartyIdentification32_RvslRsnInf"/>
					<xs:element name="Rsn" type="AT_ReversalReason4Choice" id="AT-31"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_ServiceLevel8Choice">
		<xs:complexContent>
			<xs:restriction base="ServiceLevel8Choice">
				<xs:sequence>
					<xs:choice>
						<xs:element name="Cd" type="AT_ExternalServiceLevel1Code">
							<xs:annotation>
								<xs:documentation xml:lang="de">SEPA</xs:documentation>
								<xs:documentation xml:lang="en">SEPA</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AT_StructuredRemittanceInformation7">
		<xs:complexContent>
			<xs:restriction base="StructuredRemittanceInformation7">
				<xs:sequence>
					<xs:element name="CdtrRefInf" type="AT_CreditorReferenceInformation2"/>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!--***** Begin of change log -->
	<!-- 2010-12-31 -->
	<!-- - complete new setup on ISO pain.007 -->
	<!-- - add attributes version, lastEdit, replaceVersion, replaceLastEdit, validityStart and validityEnd -->
	<!-- - add change log -->
	<!-- - comment out unused elements with marker "+++unused+++" -->
	<!-- - comment out changed elements with marker "+++change from+++" -->
	<!-- - all altered structures formed as restricted complextypes for editing purposes (altova smart restriction in scheme view [workes best in version 2008]) -->
	<!-- 2011-03-11 -->
	<!-- - altered various documentations -->
	<!-- 2011-06-28 -->
	<!-- - change version -->
	<!-- - change documentation links from RB4 to RB5 -->
	<!-- - change name space -->
	<!-- - change documentation of MsgId and RvslPmtInfId -->
	<!-- 2011-09-30 -->
	<!-- - change pattern of AT_Max35Text_REF to allow blanks -->
	<!-- - change documentation of Ref in AT_CreditorReferenceInformation -->
	<!-- - change documentation of Strd in AT_StructuredRemittanceInformation -->
	<!-- - change documentation of PmtInfId -->
	<!-- 2011-12-01 -->
	<!-- - add include to file possibly containing restrictions originating from ISO external codelist definitions -->
	<!-- - replace all element types refering to external codelist by according included types -->
	<!-- 2012-03-14 -->
	<!-- - change namespace of TechnicalValidationSubset to point to Rulebook 6.0 -->
	<!-- - change name of included ExternalCodelist file -->
	<!-- - change version to 3 ( third published schema ) -->
	<!-- - change type of OrgnlTxRef/RmtInf/Strd/CdtrRefInf/Tp/CdOrPrtry/Cd -->
	<!-- - correct restriction of CtrlSum and OrgnlCtrlSum and add pattern -->
	<!-- - add type definition AT_DocumentType3Code -->
	<!-- - change AT_FinancialInstitutionIdentification7/BIC to be mandatory -->
	<!-- - change type of OrgnlMsgNmId -->
	<!-- - add documentation to OrgnlMsgNmId -->
	<!-- - change documentation of OrgnlPmtInfAndRvsl/RvslRsnInf -->
	<!-- - change documentation of OrgnlPmtInfAndRvsl/TxInf -->
	<!-- - change OrgnlTxRef/PmtTpInf to be mandatory -->
	<!-- - change type of InitgPty/Id/OrgId/Othr/SchmeNm/Cd -->
	<!-- - change AT_PostalAddress6/AdrLine to be mandatory -->
	<!--***** End of change log -->
</xs:schema>
